# Global Owners
*       @soham-trading/security-board

# Dev Ops & CI
/.github/workflows/ @soham-trading/devops-team
Dockerfile @soham-trading/devops-team
docker-compose.yml @soham-trading/devops-team
netlify.toml @soham-trading/devops-team

# Legal & Compliance
*.md @soham-trading/legal-compliance
